/* Normalizing css */

* {
    margin: 0;
    padding: 0;
}

/* CSS FLEXBOX STYLE */
.col-sm {
    background-color: rgb(163, 235, 55) !important;
    padding: 7px;
    border: 1px solid black;
    margin-top: 10px;
}